@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: 'Rational';
  src: url('/fonts/RATIONALSansTT-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rational';
  src: url('/fonts/RATIONALSansTT-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rational';
  src: url('/fonts/RATIONALSansTT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@theme static {
  --font-sans: 'Rational', sans-serif;

  /* RITA Brand Color */
  --color-rational-red: #E2001A;

  /* System Gray Colors */
  --color-natural-500: #808080;
  --color-natural-700: #333333;
  --color-natural-200: #E6E6E6;
}
